/* Scrollbar styles */
@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #2d3b45a9; 
  border-radius: 5px; 
}

-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker thumb color on hover */
}