@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 100vh;
  background: #2d3b45;
  transition: all 0.3s ease-in-out;
}

.auth_container .logo {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #2d3b45;
}

.auth_container .logo img {
  width: 200px;
  height: auto;
}

.auth_container .error {
  color: rgb(100, 7, 7);
  text-align: center;
  margin-bottom: 10px;
}

.auth_container .form-wrapper {
  background: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
  width: 90%;
  max-width: 450px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.auth_container .social-logins {
  background: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth_container .social-logins .title .sub-title {
  font-size: 1rem;
}

.auth_container .social-logins .title {
  font-size: 2.2rem;
}

.auth_container .social-logins h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #2d3b45;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth_container .social-icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.auth_container .social-logins img {
  width: 30px;
  height: 30px;
}

.auth_container .social-icons-wrapper button.social-icon {
  border: 1px solid #2d3b45;
  background: #fff;
  color: #000;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
}

.auth_container .social-icons-wrapper button.social-icon:hover {
  background: #7e878e;
  color: #fff;
}

.auth_container .title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #2d3b45;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.auth_container .form {
  display: flex;
  flex-direction: column;
}

.auth_container .form input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.auth_container .form input:focus {
  border-color: #2d3b45;
  outline: none;
}

.auth_container .button {
  /* background: #2575fc; */
  background-color: #2d3b45;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.auth_container .button:hover {
  background: #324755;
}

.auth_container .toggle-button {
  margin-top: 20px;
  background: none;
  border: none;
  color: #375c75;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s;
}

.auth_container .toggle-button:hover {
  color: #103b5a;
}

@media (max-width: 500px) {
  .auth_container .form-wrapper {
    padding: 20px;
  }

  .auth_container .title {
    font-size: 1.5rem;
  }

  .auth_container .button,
  .toggle-button {
    font-size: 0.9rem;
  }
}