/* Authorisation.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.auth_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2d3b45;
    transition: all 0.3s ease-in-out;
  }
  .auth_container .logo {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #2d3b45;
  }
  
  .auth_container .logo img {
    width: 200px;
    height: auto;
    
  }
  .auth_container .error{
    color: rgb(100, 7, 7);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .auth_container .form-wrapper {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    width: 90%;
    max-width: 450px;
    margin-bottom: 50px;
  }
  
  .auth_container .title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #2d3b45;
    text-align: center;
    font-family: "Nunito", sans-serif;
  }
  
  .auth_container .form {
    display: flex;
    flex-direction: column;
  }
  
  .auth_container .form input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .auth_container .form input:focus {
    border-color: #2d3b45;
    outline: none;
  }
  
  .auth_container .button {
    /* background: #2575fc; */
    background-color: #2d3b45;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .auth_container .button:hover {
    background: #324755;
  }
  
  .auth_container .toggle-button {
    margin-top: 20px;
    background: none;
    border: none;
    color: #375c75;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .auth_container .toggle-button:hover {
    color: #103b5a;
  }
  
  @media (max-width: 500px) {
    .auth_container .form-wrapper {
      padding: 20px;
    }
  
    .auth_container .title {
      font-size: 1.5rem;
    }
  
    .auth_container .button, .toggle-button {
      font-size: 0.9rem;
    }
  }
  