.create-quiz {
  background-color: #2d3b45;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.create-quiz h2 {
  margin-bottom: 20px;
  font-family: "Wittgenstein", serif;
  padding-bottom: 10px;
}

.create-quiz .form-group {
  margin-bottom: 15px;

}


.create-quiz .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 5px;
  
}


.create-quiz .form-group input[type="text"],
.create-quiz .form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.create-quiz .option-group {
  display: flex;
  align-items: center;
}

.create-quiz .option-group button {
  background-color: #1a2a33;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.create-quiz .option-group button:hover {
  background-color: #13212c;
}

.create-quiz .option-group input[type="radio"] {
  margin-left: 10px;
}

.create-quiz .question-card {
  background-color: #fff;
  color: #2d3b45;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.create-quiz .remove-button {
  background-color: #ff4c4c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.create-quiz .remove-button:hover {
  background-color: #ff1a1a;
 
  color: white;
  border-color: #000;
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.Add-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  margin-right: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Add-button:hover {
  background-color: #212c34;
  color: white;
  border-color: #000;
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.Add-option {
  padding: 8px;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.create-quiz .button {
  background-color: #1a2a33;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.create-quiz .button:hover {
  background-color: #13212c;
}

.create-quiz .error {
  color: #ff4c4c;
  font-weight: bold;
  margin-top: 10px;
}

/* Removes the up down arrow from input type=number */
/* For Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}