/* DashBoard.css */
.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .dashboard .sidebar {
    width: 250px;
    background: #2d3b45;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .dashboard .sidebar.closed {
    transform: translateX(-100%);
  }
  
  .dashboard .sidebar .logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .dashboard .sidebar .logo img {
    width: 150px;
    height: auto;
  }
  
  .dashboard .sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dashboard .sidebar nav ul li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 18px;
  }
  
  .dashboard .sidebar nav ul li span {
    margin-right: 10px;
    font-size: 30px;
  }
  
  .dashboard .sidebar nav ul li:hover {
    background: #1a2a33;
    color: #fff;
  }
  
  .dashboard .sidebar nav ul li.active {
    background: #fff;
    color: #2d3b45;
  }
  
  .dashboard .logout-button {
    background: #212c34;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background 0.3s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard .logout-button span {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
  }
  
  .dashboard .logout-button:hover {
    background: #13212c;
  }
  
  .dashboard .main-section {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .dashboard .main-section .hamburger {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: #2d3b45;
    cursor: pointer;
    
  }
  
  @media (max-width: 768px) {
    .dashboard .sidebar {
      width: 290px;
      display: none;
    }
    .dashboard .open {
      display: block;
    }
  
    .dashboard .sidebar nav ul li {
      padding: 10px 15px;
    }
  
    .dashboard .logout-button {
      padding: 12px;
    }
  
    .dashboard .main-section {
      margin-left: 0;
    }
  
    .dashboard .main-section .hamburger {
      display: block;
    }
    .dashboard .sidebar nav ul li.active{
        background: #1a2a33;
        color: #fff;
    }
  }
  