.result-page {
  background-color: #2d3b45;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-page .stats-section {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-page .user-scores-section {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-page .user-scores-list {
  margin-top: 20px;
}

.result-page .gobackbtn {
  background-color: #1a2a33;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.result-page .gobackbtn:hover {
  background-color: #13212c;
}

@media screen and (max-width: 600px) {
  .result-page .stats-section,
  .result-page .user-scores-section {
    width: 100%;
    max-width: 100%;
  }
}
