.create-quiz {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.create-quiz h2 {
    margin-bottom: 20px;
    font-family: "Wittgenstein", serif;
    padding-bottom: 10px;
}

.create-quiz .form-group {
    margin-bottom: 15px;
}

.create-quiz .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d3b45;
}

.create-quiz .form-group input[type="text"],
.create-quiz .form-group input[type="number"] {
    background-color: #f9f9f9; /* Lighter background for better contrast */
  color: #333; /* Darker text color for readability */
  border: 1px solid #ccc; /* Light gray border */
  padding: 10px 15px; /* Increased padding for comfort */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.create-quiz .option-group {
    display: flex;
    align-items: center;
}

.create-quiz .option-group button {
    background-color: #1a2a33;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.create-quiz .option-group button:hover {
    background-color: #13212c;
}

.create-quiz .option-group input[type="radio"] {
    margin-left: 10px;
}

.create-quiz .question-card {
    background-color: #fff;
    color: #2d3b45;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
}

.create-quiz .remove-button {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.create-quiz .remove-button:hover {
    background-color: #ff1a1a;
}

.create-quiz .button {
    background-color: #1a2a33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.create-quiz .button:hover {
    background-color: #13212c;
}

.create-quiz .error {
    color: #ff4c4c;
    font-weight: bold;
    margin-top: 10px;
}
